{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <h2 class="mb-4">Register Here</h2>
      <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <div class="content-section">
            <div class="row">
              <div class="col-sm-6 col-md-4">
                  <img style="width: 100%" src="{{ user.profile.image.url }}" alt="" class="img-rounded img-responsive" />
              </div>
              <div class="col-sm-6 col-md-8">
                  <h4>{{ user.username }}</h4>
                  <small>
                    <cite> </cite>
                  </small>
                  <p>
                      {{ user.email }}
                      <br />
                      
                      <br />
                      
                  </p>
                  <p>
                  </p>
                  
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}